.gallery {

}

.gallery-item {
	width: min-content;
	margin: 10px;
	padding: 0;
	float: left;
}

.gallery-item img {
	width: 150px;
	height: 130px;
	cursor: pointer;
}

.gallery-pages {
	margin: 15px 0;
	text-align: center;
}

.gallery-pages .gallery-pages-item {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #000000;
	margin: 0 5px;
	width: 36px;
	min-height: 36px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.gallery-pages .gallery-pages-item:hover {
	background: #CCCCCC;
}

.gallery-pages .gallery-pages-item.active {
	font-weight: bold;
}

.block {
	display: block !important;
}

.gallery-modal {
	display: none;
	position: absolute;
	top: 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
}

.gallery-modal img {
	max-height: 80vh;
	margin: 5vh auto 0;
}